<h3>Workflows</h3>

<ul>
  <li *ngFor="let workflow of workflows | async">
      {{ workflow.name }}
      <a href="javascript:void(0)" (click)="openModal(workflow)">
        Create Task
      </a>
  </li>
</ul>

<h4>Tasks</h4>
<div class="row">
  <table class="col-12">
    <tr>
      <th>Workflow</th>
      <th>Status</th>
      <th>Open Task</th>
    </tr>
    <tr *ngFor="let state of states | async">
      <td>{{state.workflow.name}}</td>
      <td>{{state.status}}</td>
      <td>{{ getOpenTask(state) }}</td>
    </tr>
  </table>
</div>