<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ workflow.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="!txid">
  <div class="form-group" *ngFor="let field of stage?.schema.fields">
    <label>{{field.label}}</label>
    <input type="text" [(ngModel)]="data[field.key]" class="form-control" (keyup)="updateMoneybutton()">
  </div>
</div>
<div class="modal-body" *ngIf="txid">
  <small><b>Txn ID</b>
  {{txid}}</small>
</div>
<div class="modal-footer">
    <div id="create-moneybutton"></div>
</div>